/* =================================
 * 	ももの木訪問看護ステーション 運営規定
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * HEAD
 * ------------------------------ */
.containerContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em 8em;
    gap: 2em 0;
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 1px #b32056;
        max-width: 100rem;
        background-color: #fbd5e3;
        padding: 2em 2em 4em;
        @include sp {
            max-width: unset;
            padding: 4vw 2vw;
        }
    }
    @include sp {
        padding: 6vw 4vw;
    }
    h3 {
        font-size: FZ(30);
        text-align: center;
        line-height: 1.6em;
        letter-spacing: 0.04em;
        @include sp {
            font-size: FZ(22);
        }
    }
    .boxDetail + h3 {
        margin-top: 3em;
    }
    .boxDetail {
        font-size: inherit;
        max-width: 94rem;
        margin-top: 3em;
        @include sp {
            max-width: unset;
            margin-top: 6vw;
        }
        p {
            font-size: FZ(18);
            letter-spacing: 0.04em;
            line-height: 1.8em;
            @include sp {
                font-size: FZ(16);
            }
        }
    }
}
