/* =================================
 * 	ももの木訪問看護ステーション 災害・感染症について
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * HEAD
 * ------------------------------ */
.containerContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em 8em;
    gap: 3em 0;
    @include sp {
        padding: 6vw 4vw 6vw;
    }
    .blockImage {
        display: flex;
        flex-direction: column;
        max-width: $articleMaxWidth;
        border-top: solid 2px #8c8b89;
        padding-top: 3em;
        gap: 3em 0;
        padding-bottom: 3em;
        @include sp {
            padding-top: 6vw;
            gap: 4vw 0;
        }
        h3 {
            font-size: FZ(40);
            align-self: center;
            letter-spacing: 0.04em;
            @include sp {
                font-size: FZ(30);
            }
        }
        .boxImage {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}
