@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
.containerFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $base-pink;
    padding: 2em;
    @include sp {
        padding: 6vw 4vw;
    }
    article {
        display: flex;
        justify-content: space-between;
        max-width: $articleMaxWidth;
        @include sp {
            flex-direction: column;
            gap: 6vw 0;
        }
        .boxInfo {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            gap: 0.8em 0;
            @include sp {
                gap: 2vw 0;
            }
            .name {
                font-size: FZ(26);
                letter-spacing: 0.04em;
                @include sp {
                    display: flex;
                    flex-direction: column;
                    font-size: FZ(18);
                    gap: 0.3em 0;
                }
                span {
                    margin-right: 0.3em;
                    @include sp {
                        margin-right: unset;
                        font-size: 0.8em;
                    }
                }
            }
            address {
                font-size: FZ(16);
                letter-spacing: 0.04em;
                @include sp {
                    display: flex;
                    flex-direction: column;
                }
                span {
                    margin-right: 0.5em;
                }
            }
            .tel {
                font-size: FZ(32);
                font-weight: 600;
                letter-spacing: 0.04em;
                pointer-events: none;
                @include sp {
                    font-size: FZ(28);
                    pointer-events: auto;
                }
                span {
                    text-transform: uppercase;
                    &::after {
                        content: ":";
                        margin-inline: 0.2em;
                    }
                }
            }
            .fax {
                font-size: FZ(18);
                font-weight: 600;
                letter-spacing: 0.04em;
                pointer-events: none;
                span {
                    text-transform: uppercase;
                    &::after {
                        content: ":";
                        margin-inline: 0.2em;
                    }
                }
            }
        }
        .boxRight {
            display: flex;
            flex-direction: column;
            font-size: inherit;
            gap: 0.8em 0;
            nav {
                display: flex;
                flex-direction: column;
                font-size: inherit;
                gap: 0.5em 0;
                a {
                    font-size: FZ(18);
                    letter-spacing: 0.04em;
                }
            }
            .copyright {
                width: 100%;
                display: flex;
                justify-content: center;
                font-size: FZ(12);
                letter-spacing: 0.08em;
                @include sp {
                    justify-content: flex-start;
                }
            }
        }
    }
}
