@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
.containerHeader {
    position: relative;
    display: flex;
    padding-inline: 2em;
    justify-content: center;
    z-index: 5;
    transition: 0.5s ease-out;
    background-color: #fff;
    padding-bottom: 2em;
    padding-top: 2em;
    @include sp {
        padding: 6vw 0 0 4vw;
    }

    // &.is-fixed {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     z-index: 100;
    //     box-shadow: 0 2px 10px rgb(0 0 0 / 10%); // Optional effect
    // }
    article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em 1em;
        max-width: $articleMaxWidth;
        flex-wrap: wrap;
        h1 {
            font-size: FZ(21);
            position: relative;
            padding-left: 2.6em;
            @include sp {
                font-size: FZ(18);
            }
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;
                left: 0;
                width: 2.4em;
                background: url("../../../assets/images/logo.webp") no-repeat
                    center center / contain;
                aspect-ratio: 55/50;
            }
            a {
                font-size: inherit;
                letter-spacing: 0.08em;
            }
        }
        nav {
            position: relative;
            font-size: inherit;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            @include sp {
                position: fixed;
                top: 0;
                right: 0;
                width: 80vw;
                height: 100vh;
                height: 100dvh;
                padding: 10vw 0;
                background-color: #fff;
                translate: 100vw;
                transition: 0.3s ease-out;
                opacity: 0;
                gap: 14vw 0;
                padding-left: 20vw;
                justify-content: flex-start;
                &.is-open {
                    translate: 0;
                    opacity: 1;
                }

                // &::before {
                //     content: "";
                //     position: absolute;
                //     right: 0;
                //     width: 100vw;
                //     height: 100vh;
                //     height: 100dvh;
                //     background-color: rgba(#fff, 0.8);
                // }
            }
            .mobileOnly {
                display: none;
                @include sp {
                    display: inline;
                    font-size: FZ(18);
                    padding-inline: 0.7em;
                    letter-spacing: 0.07em;
                }
            }
            .linkContainer {
                position: relative;
                display: flex;
                font-size: inherit;
                @include sp {
                    display: flex;
                    flex-direction: column;
                    gap: 8vw 0;
                }
                .itemLink {
                    position: relative;
                    font-size: FZ(18);
                    text-transform: uppercase;
                    font-weight: 500;
                    letter-spacing: 0.07em;
                    text-decoration: none;
                    color: #000;
                    padding-inline: 0.7em;
                    cursor: pointer;
                    transition: 0.3s ease-out;
                    &.is-active {
                        font-weight: 500;
                    }
                }
            }
        }
        .boxSns {
            position: relative;
            font-size: inherit;
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 0 1em;
            @include sp {
                margin-top: 6vw;
                gap: 0 6vw;
            }
            a {
                font-size: inherit;
                width: 2em;
                aspect-ratio: 1;
                @include sp {
                    width: 8vw;
                }
                img {
                    width: 100%;
                    aspect-ratio: 1;
                }
            }
        }
    }
}
.hamburgerButton {
    position: fixed;
    top: 4vw;
    right: 0;
    width: 11vw;
    aspect-ratio: 1;
    border-top: solid 1px #d8d7c9;
    border-left: solid 1px #d8d7c9;
    border-bottom: solid 1px #d8d7c9;
    z-index: 100;
    display: none;
    background-color: #fff;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    @include sp {
        display: block;
    }
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 55%;
        height: 2px;
        background-color: #d8d7c9;
        transition: 0.3s ease-out;
        &:nth-of-type(1) {
            translate: -50% calc(-50% - 6px);
        }
        &:nth-of-type(2) {
            translate: -50% -50%;
        }
        &:nth-of-type(3) {
            translate: -50% calc(-50% + 6px);
        }
    }
    &.is-open {
        span {
            transition: 0.3s ease-out;
            &:nth-of-type(1) {
                translate: -50% -50%;
                rotate: 45deg;
            }
            &:nth-of-type(2) {
                translate: 150% -50%;
                opacity: 0;
            }
            &:nth-of-type(3) {
                translate: -50% -50%;
                rotate: -45deg;
            }
        }
    }
}
